@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: #fff;
}
.main{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.sidebar_block{
    width: 300px;
    height: 100vh;
}
.burger-menu{
  display: none;
}
.content{
    margin-top: 60px;
    padding: 50px;
    width: 80%;
}
.sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    background:#b40909;
    z-index: 999;
}
.sidebar .logo{
    width: 100%;
    padding: 20px;
}
.sidebar .logo img{
    width: 80%;
}
.sidebar ul{
    margin-left: 50px;
    list-style: none;
}
.sidebar ul li{
    padding: 10px;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    padding: 20px;
}
.navbar .nav{
    display: flex;
    width: 80%;
    background: #b40909;
    border-radius: 20px;
    padding: 10px;
    justify-content: flex-end;
}

.navbar .nav .login ul li{
    display: inline-block;
    padding: 10px;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: rgba(237, 190, 166, 0.951);
    color: #371D10;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #e0e0e0;
  }
  .input_container{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .input_container input, select {
    width: 500px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    font-size: 2.5vh;
    border: 2px solid black;
    border-radius: 10px;
  }

  .input_container textarea{
    width: 500px;
    margin: 10px;
    padding: 5px;
    font-size: 2.5vh;
    border: 2px solid black;
    border-radius: 10px;
  }
  .btn_submit{
    padding: 8px 15px;
    font-size: 2.5vh;
    background-color: rgba(237, 190, 166, 0.951);
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
    right: 50px;
  }

  tr td a{
    color: #371D10;
  }

  /*Phone*/
@media only screen and (max-width: 600px) {
  .sidebar{
    transition: 0.5s;
    left: -300px;
  }
  .sidebar.active {
    left: 0;
}
.sidebar_block{
  width: 0;
  height: 0;
}
.content{
  width: 100%;
}
.navbar .nav{
  width: 100%;
}

.burger-menu{
  display: block;
}
}

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .sidebar{
    transition: 0.5s;
    left: -300px;
  }
  .sidebar.active {
    left: 0;
}
.sidebar_block{
  width: 0;
  height: 0;
}
.content{
  width: 100%;
}
.navbar .nav{
  width: 100%;
}
.burger-menu{
  display: block;
}
}